@import "~antd/dist/antd.less";
@import "~antd/dist/antd.dark.less";
@import "./Theme.less";

// fixes
.react-flow {
    &__controls-button {
        box-sizing: content-box;
    }

    &__handle {
        width: 16px;
        height: 16px;

        &-left {
            left: -8px;
        }

        &-right {
            right: -8px;
        }
    }
}
